/**
 * @Author: Kaiser
 * @Date: 2020-04-29 15:44:23
 * @Last Modified by: Kaiser
 * @Last Modified time: 2020-05-13 17:24:28
 * @Description: header模块
 */
@import './mixin.scss';

.header {
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgb(240, 237, 237);
  min-width: 1200px;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  .center {
    // 设置模块整体样式
    @include module-color(#fff);
    @include clear-float;
    .logo {
      float: left;
    }
    .navigater {
      position: relative;
      float: left;
      overflow: hidden;
      .navigater-item {
        float: left;
        height: 74px;
        line-height: 74px;
      }
      a {
        display: block;
        color: #ccc;
        margin: 0 40px;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: rgb(1, 1, 1);
      }
      .bar {
        will-change: left;
        position: absolute;
        transition: left 0.5s ease-in-out;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 5px;
        background: rgba(177, 27, 26, 1);
        &.index {
          left: 40px;
          width: 32px;
        }
        &.product {
          left: 152px;
          width: 64px;
        }
        &.aboutUs {
          left: 296px;
          width: 64px;
        }
        &.joinUs {
          left: 440px;
          width: 64px;
        }
        &.contactUs {
          left: 588px;
          width: 64px;
        }
      }
    }
    .login {
      float: right;
      width: 70px;
      height: 30px;
      background: rgb(255, 255, 255);
      border: 1px solid rgb(102, 102, 102);
      text-align: center;
      line-height: 30px;
      margin: 21px 0;
      cursor: pointer;
      &:hover {
        background: rgb(177, 27, 26);
        border: 1px solid rgb(177, 27, 26);
        color: rgb(255, 255, 255);
      }
    }
  }
}
