/**
 * @Author: Kaiser
 * @Date: 2020-04-28 15:28:41
 * @Last Modified by: Kaiser
 * @Last Modified time: 2020-06-08 11:27:52
 * @Description: 
 */

@mixin clear-float {
  &:before,
  &:after {
    display: table;
    content: '';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
// 模块样式
@mixin module {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

// 模块样式 - 背景是图片
@mixin module-color($color) {
  @include module;
  background: $color;
}

// 模块样式 - 背景是颜色
@mixin module-image($url) {
  @include module;
  background: url($url) center no-repeat;
  background-size: cover;
  width: 100%;
}

@mixin center {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
