/**
 * @Author: Kaiser
 * @Date: 2020-05-07 19:56:17
 * @Last Modified by: Kaiser
 * @Last Modified time: 2020-06-08 10:33:19
 * @Description: 首页 - banner
 */
@import '../mixin.scss';

.banner {
  position: relative;
  min-width: 1200px;
  height: 480px;
  @include module-image('../../images/join_us/banner.png');

  .box {
    position: relative;
    width: 1200px;
    height: 480px;
    margin: 0 auto;

    .title {
      position: absolute;
      top: 220px;
      left: 0;

      font-style: italic;
      font-size: 46px;
      font-weight: 400;
      color: rgb(1, 1, 1);
      line-height: 48px;
    }
    .detail {
      position: absolute;
      top: 284px;
      left: 0;

      font-size: 16px;
      font-weight: 500;
      color: rgb(1, 1, 1);
      line-height: 30px;
    }
  }
}
